*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    text-decoration: none;
    font-size: 50px;
    border: 1px solid white;
    color: white;
    padding: 7px 40px;
    border-radius: 30px;
    transition: 0.5;
}
.btn:hover{
    background-color: snow;
    color: black;
    box-shadow: 2px 5px 10px  rgb(212, 185, 185);
}